{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% include "global/partials/head.html" %}

    <body>
        {% include "global/partials/menu.html" %}

        {% if text %}
            <h1 class="container">{% block texto %}{% endblock texto %}</h1>
        {% endif %}

        {% include "global/partials/paragraph.html" %}
        <main class="content">
            {% block posts %}{% endblock posts %}
            {% block home %}{% endblock home %}
        </main>
    </body>
</html>
