<article class="post">
    <header>
        <h2 class="post__title">
            <a href="{% url "blog:post" varpost.id %}" >
                {{ varpost.title }}
            </a>
        </h2>
    </header>
    <div class="post__body">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates vel
        ducimus natus ut praesentium, quis qui quam numquam, culpa libero
        excepturi eligendi accusamus in earum nihil. Provident obcaecati vel
        commodi officiis quibusdam nihil, accusantium nobis, necessitatibus,
        libero tempore dignissimos quia nostrum veritatis vero velit molestias
        animi magni illo impedit saepe!
    </div>
</article>
